* {
  font-family: Arial, Helvetica;
  padding: 0px;
}

body {
  background-color: rgb(24, 24, 24);
  color: white;
  text-align: center;
}

#AboutUsTitle{
  padding-top: 1vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 125px;
  font-weight: 600;
  color: rgb(251, 251, 251);
  text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.349);
  text-align: center;
  vertical-align: center;
}

#AzoicTitle {
  padding-top: 20vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 200px;
  font-weight: 600;
  color: rgb(251, 251, 251);
  text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.349);
  text-align: center;
  vertical-align: center;
}

.cardcontainer{
  display: grid;
  grid-template-columns: auto auto auto; 
  gap: 1vw; 
  justify-content: center;
  align-content: center;
  grid-column: 1;
  padding-bottom: 1vw;
}

.Avatar{
  width: 25vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  color: rgb(255, 255, 255);
}

.LinkedIn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: teal;
  font-size: 24px;
  vertical-align: bottom;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.LinkedIn:hover {
  background-color: rgb(0, 82, 82);
}

nav.primary-navigation {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 32px;
  padding-top: 0.5vh;
}

nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover{
  color: teal;
}
