* {
  font-family: Arial, Helvetica;
  padding: 0px;
  margin:0;
}

article {
  background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

body {
  background: hsl(204 100% 5%);
  text-align: center;
  font-family: system-ui;
  color: white;
}

#AboutUsTitle{
  margin: 0px;;
  font-size: 125px;
  font-weight: 600;
  color: rgb(251, 251, 251);
  text-align: center;
  vertical-align: center;
}



#AzoicTitle {
  padding-top: 20vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 200px;
  font-weight: 600;
  color: rgb(251, 251, 251);
  text-align: center;
  vertical-align: center;
}

.cardcontainer{
  display: grid;
  grid-template-columns: auto auto auto; 
  gap: 1vw; 
  justify-content: center;
  align-content: center;
  grid-column: 1;
  padding-bottom: 1vw;
}

.Avatar{
  width: 25vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  color: rgb(255, 255, 255);
}

.LinkedIn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: teal;
  font-size: 24px;
  vertical-align: bottom;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.LinkedIn:hover {
  background-color: rgb(0, 82, 82);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
