* {
  font-family: Arial, Helvetica;
  padding: 0px;
  margin:0;
}

article {
  background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

body {
  background: hsl(204 100% 5%);
  text-align: center;
  font-family: system-ui;
  color: white;
}

#AboutUsTitle{
  margin: 0px;;
  font-size: 125px;
  font-weight: 600;
  color: rgb(251, 251, 251);
  text-align: center;
  vertical-align: center;
}

#AzoicTitle {
  margin-top: 8vh;
  color: rgb(251, 251, 251);
  height: 50rem;
  width: 50rem;
}

.cardcontainer{
  display: grid;
  grid-template-columns: auto auto auto; 
  gap: 1vw; 
  justify-content: center;
  align-content: center;
  grid-column: 1;
  padding-bottom: 1vw;
}

.bar{
  font-size: 20px;
  padding-bottom: 1vw;
}

.staffName{
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

.staffRole{
  font-size: 20px;
  padding-bottom: 5px;
}

.Avatar{
  width: 25vh;
}

.card {
  background: RGB(13, 60, 70);;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2%;
  padding-bottom: 2vh;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.288);
}

.container {
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
