/* By Dominik Biedebach @domobch */

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  .center {
    text-align: center;
  }
  
  section {
    height: 100vh;
  }
  
  /* NAVIGATION */

  nav ul {
    list-style: none;
    text-align: center;

  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;

  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.1s;
  }
  
  nav ul li a:hover {
    color: teal;
  }
  
  nav.fill ul li a {
    position: relative;
  }

  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    height: 1px;
  }
  
  nav.fill ul li a {
    transition: all 0s;
  }
  /* By Dominik Biedebach @domobch */
  
  nav.fill ul li a:after {
    text-align: left;
    content: ".";
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: black;
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 0.25s forwards;
    -webkit-animation: fill 0.25s forwards;
    -moz-animation: fill 0.25s forwards;
    opacity: 1;
  }
  
  
  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: teal;
    }
  }